.container{
    max-width: 100% !important;
}
.sg-bg-primary{
    background-color: #1592da !important;
}
table{
    border: 1px solid #d4d4d4 !important;
}
td,th {
height: 50px;
vertical-align: middle;
}
.table>:not(:first-child){
    border-top:none;
}
.page-link:focus {
    box-shadow:none !important;
}	