---
slug: module_141/module_iframe/index
response_headers: >
  {
    "X-Frame-Options": null
  }
authorization_policies:
  - modules/siteglide_system/module_is_in_admin
layout: modules/module_141/templates/1
---


<section class="sg-content">
  <div class="container bg-white py-4 px-3">
    <div class="row">
       
          <div class="col-12 col-md-6 filter-form">
			<p id="site_id">Site ID : {{params.site_id}} </p>
				<form>
					<div class="row">
						<div class="col-12 col-md-6">
							{% comment %} <label for="keyword" class="mb-2">Keyword Search</label> {% endcomment %}
							<div class="search-block position-relative">
								<input id="keyword" oninput="getOrdersData()" class="form-control sg-form-control" type="text" value="" placeholder="Keyword">
								<span class="icon position-absolute"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="search" class="svg-inline--fa fa-search fa-w-16 clearIcon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"></path></svg></span>
							</div>
							
						</div>
						<div class="col-12 col-md-6 d-none">
							<label for="page" class="mb-2">Page</label>
							<input id="page" onchange="getOrdersData()" class="form-control sg-form-control" type="number" step="1" value="1">
						</div>
						

						<div class="col-12 col-md-6">
							{% comment %} <label for="per_page" class="mb-2">Par Page</label> {% endcomment %}
						
							<select id="per_page" class="form-control sg-form-control" name="per_page" onchange="getOrdersData()" style="width:120px">
									<option value="10">10 / page </option>
									<option value="20">20 / page </option>
									<option value="30">30 / page </option>
									<option value="40">40 / page </option>
								</select>
						</div>
					</div>
				</form>
		</div>
		<div class="col-12 col-md-9" id="new-pagination">
			
		</div>	
		<div class="col-12">
			<div class="orders-custom-table" id="orders-custom-table">
			
			</div>
		</div>		
      </div>
  </div>
</section>

<script>

	var page = document.querySelector('#page');
	var per_page = document.querySelector("#per_page");



	function getOrdersData() {
		const myDiv = document.getElementById("orders-custom-table");

		if (myDiv.innerHTML.trim() === "") {
			// myDiv.classList.add("empty");
			var img = document.createElement('img');
			img.src =
				'https://uploads.prod01.london.platform-os.com/instances/827/assets/images/preview.gif?updated=1677848654532';
			img.width = "150";
			img.style = "margin:auto;display:block";
			document.getElementById('orders-custom-table').appendChild(img);
		}


		event.preventDefault();
		var xReq = new XMLHttpRequest();
		xReq.onload = function() {
			if (xReq.status >= 200 && xReq.status < 300) {
				document.querySelector(".orders-custom-table").innerHTML = "";
				document.querySelector(".orders-custom-table").insertAdjacentHTML('beforeend', xReq.responseText);

			} else {
				console.log(xReq.responseText);
			}
		};
		xReq.open('GET', '/module_141/module_iframe/api/getOrders?page=' + page.value + '&per_page=' + per_page.value + '&keyword=' + keyword.value + '&site_id=' + {{params.site_id}});
		xReq.send();

	}
	window.onload = getOrdersData;

	function changePage(newPageInt) {
		var pageState = document.querySelector('#page');
		pageState.value = newPageInt;
		getOrdersData();
	}
</script>
