---
slug: module_141/module_iframe/index
response_headers: >
  {
    "X-Frame-Options": null
  }
authorization_policies:
  - modules/siteglide_system/module_is_in_admin
layout: modules/module_141/templates/1
---


<section class="sg-content">
  <div class="container">
    <div class="row">
       
          <div class="col-12 col-md-3">
				<form>
					<div class="row">
						<div class="col-12 col-md-6">
							<label for="page">Page</label>
							<input id="page" onchange="getOrdersData()" class="form-control sg-form-control" type="number" step="1" value="1">
						</div>

						<div class="col-12 col-md-6">
							<label for="per_page">Par Page</label>
						
							<select id="per_page" class="form-control sg-form-control" name="per_page" onchange="getOrdersData()" style="width:120px">
									<option value="10">10 / page </option>
									<option value="20">20 / page </option>
									<option value="30">30 / page </option>
									<option value="40">40 / page </option>
								</select>
						</div>
					</div>
				</form>
		</div>
		<div class="col-12 col-md-9" id="new-pagination">
			
		</div>	
		<div class="col-12">
			<div class="orders-custom-table" id="orders-custom-table">
			
			</div>
		</div>		
      </div>
  </div>
</section>

<script>

	var page = document.querySelector('#page');
	var per_page = document.querySelector("#per_page");



	function getOrdersData() {
		const myDiv = document.getElementById("orders-custom-table");

		if (myDiv.innerHTML.trim() === "") {
			// myDiv.classList.add("empty");
			var img = document.createElement('img');
			img.src =
				'https://uploads.prod01.london.platform-os.com/instances/827/assets/images/preview.gif?updated=1677848654532';
			img.width = "150";
			img.style = "margin:auto;display:block";
			document.getElementById('orders-custom-table').appendChild(img);
		}


		event.preventDefault();
		var xReq = new XMLHttpRequest();
		xReq.onload = function() {
			if (xReq.status >= 200 && xReq.status < 300) {
				document.querySelector(".orders-custom-table").innerHTML = "";
				document.querySelector(".orders-custom-table").insertAdjacentHTML('beforeend', xReq.responseText);

			} else {
				console.log(xReq.responseText);
			}
		};
		xReq.open('GET', 'api/orders/allOrders.liquid?page=' + page.value + '&per_page=' + per_page.value);
		xReq.send();

	}
	window.onload = getOrdersData;

	function changePage(newPageInt) {
		var pageState = document.querySelector('#page');
		pageState.value = newPageInt;
		getOrdersData();
	}
</script>
<link href="api/orders/allOrders.liquid">
